@import "custom-mixin";

.reveal {
	.menubar {
		position: absolute;
		z-index: 10;
	}

	.menu ul,
	ul.menu {
		list-style-type: none;
		margin: 0;
		padding: 0.50rem 0;
		li{
			a{
				color: $secondary;
				@include rfs(18);				
				text-transform: uppercase;
				padding: 0.25rem 0rem 0.50rem;
				display: block;
				&:hover,&:active,&:focus{
					color: $primary;
				}
				.logo-box{
					@include square(50px,50px);
					svg{
						stroke-width:3px;
						fill:none;
						stroke:$black;
						transition: all ease 0.5s;
					}
				}
				@include media-breakpoint-down(sm) { 
					@include rfs(14);	
					padding: 0.25rem 0rem 0.25rem;
					.logo-box{
						@include square(30px,30px);
					}
				}
			}			
			.active{
				color: $primary;
				.logo-box{
					svg{
						fill: $primary;
						stroke: $primary;
					}
				}
			}

		}
	}
}
