@import "custom";
@import "reveal";

[hidden] {
    display: inherit !important;
}

.has-error{
    color:$orange
}

.mid-content{
    padding-top: 60px;
}
.font-weight-medium{
    font-weight: $font-weight-medium;
}
.font-weight-semibold{
    font-weight: $font-weight-semibold;
}

ul{
    margin: 0;
    padding: 0;
    li{
        list-style-type: none;
    }
}
.font12{
    @include rfs(12);
}
.font16{
    @include rfs(16);
}
.font18{
    @include rfs(18);
}
.font20{
    @include rfs(20);
}
.font22{
    @include rfs(22);
}
.font24{
    @include rfs(24);
}
.font26{
    @include rfs(26);
}
.font30{
    @include rfs(30);
}
.line-height-125{
    line-height: 1.25;    
}
.line-height-150{
    line-height: 1.50;    
}
.line-height-175{
    line-height: 1.75;    
}
.line-height-2{
    line-height: 2;    
}

.section-title{
    @include rfs(40);
    &:after{
        content: "";
        display: block;
        height: 6px;
        width: 65px;
        background: $primary;
        transform: translate(-50%, 10px);
        left: 50%;
        position: absolute;
    }
}


.share-icons{
    li {
        display: inline-block;
        a{
            @include square(18px,18px);
            margin:0 0.5em;
            display: block;
            &:before{
                content: "";
                @include square(2px,0px);
                background: $black;
                bottom: 0;
                position: absolute;
                transform: translate(0, 10px);
                transition: linear 0.5s;
            }
            &:hover{
                &:before{
                    width: 18px;                                  
                }
            }
        }
    }
}


.top-social{
    position: absolute;
    right: 15px;
    z-index: 10;
    .follow-text{
        position: relative;
        width: 130px;
        &::before{
            content: '';
            position: absolute;
            @include square(16px,0px);        
            background: $primary;
            transform: translate(0, 0);
            transition: linear 0.1s;
            z-index: -1;
        }
        &:hover{
            color:$white;
            &::before{
                @include square(16px,55px);
            }
        }
        &::after{
            content: '';
            position: absolute;
            @include square(2px,60px);        
            background: $black;
            transform: translate(5%, 0);
            top: 50%;
        }
    }
    .share-icons{
        li {
            display: inline-block;
            a{
                @include square(12px,12px);
                margin: 0 0.25rem;
                &:before{
                    transform: translate(0, -4px);
                }
                &:hover{
                    &:before{
                        width: 12px;                                                  
                    }
                }
            }
        }
    }
}


ul.verticator {
    list-style: none;
    right: 3vmin;
    top: 50%;
    transform: translateY(-50%);
    left: auto;
    display: block;
    opacity: 0;
    z-index: 10;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 12px;
    transition: all 200ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
    ul.verticator.visible {
      opacity: 0.6; }
      ul.verticator.visible:hover {
        opacity: 1; }
    ul.verticator li a {
      width: 10.4px;
      height: 14px;
      display: flex;
      align-items: center;
      justify-content: center; }
      ul.verticator li a:after {
        display: block;
        content: '';
        width: 8px;
        height: 8px;
        opacity: 0.6;
        transform: translateZ(0) scale(0.4);
        background-color: black;
        border-radius: 100%;
        transition: background-color 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), transform 200ms cubic-bezier(0.26, 0.86, 0.44, 0.985), opacity 200ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
      ul.verticator li a:hover {
        color: currentColor; }
        ul.verticator li a:hover:after {
          opacity: 1;
          transform: translateZ(0) scale(0.75); }
    ul.verticator li.active a:after {
      transform: translateZ(0) scale(1);
      opacity: 1; }
    .dark-theme ul.verticator li a:after {
      background-color: white; }
    .has-light-background ul.verticator li a:after, .dark-theme.has-light-background ul.verticator li a:after {
      background-color: black; }
    .has-dark-background ul.verticator li a:after, .light-theme.has-dark-background ul.verticator li a:after {
      background-color: white; }
  