@import 'customize-bootstrap.scss';

.devices_content {
	color: $white;
    background:$primary;
}
.devices_content h4 {
	color: $white;
}
 .title-divider-white::after {
 content: "";
 display: block;
 height: 2px;
 width: 65px;
 background:$white;
}
.devices-icon {
	font-size:80px;
	padding-top:8%;
}