<div class="devices_content mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3 d-flex flex-column align-items-left justify-content-center">
        <h2 class="title-divider-white section-title text-white">Devices</h2>
        <h4>I work for</h4>
      </div>
      <div class="col-12 col-md-3 text-center">
        <div class="devices-icon hvr-grow"><i class="lni-display-alt"></i>
        </div>
      </div>
      <div class="col-12 col-md-3 text-center">
        <div class="devices-icon hvr-grow"><i class="lni-tab"></i>
        </div>
      </div>
      <div class="col-12 col-md-3 text-center">
        <div class="devices-icon hvr-grow"><i class="lni-mobile"></i>
        </div>
      </div>
    </div>
  </div>
</div>