<div class="container">
  <h2 class="title-divider section-title pt-5">Skills</h2>
  <div class="row ">
    <div class="col-6">
      <p class="float-left skills_subtitle">HTML</p>
      <p class="float-right">90%</p>
      <div class="progress grey-200">
        <div class="determinate skill_progress_bar " style="width: 90%"></div>
      </div>
      <p class="float-left skills_subtitle">BOOTSTRAP</p>
      <p class="float-right">85%</p>
      <div class="progress grey-200">
        <div class="determinate skill_progress_bar" style="width: 85%"></div>
      </div>
      <p class="float-left skills_subtitle">PHOTOSHOP</p>
      <p class="float-right">80%</p>
      <div class="progress grey-200">
        <div class="determinate skill_progress_bar" style="width: 80%"></div>
      </div>
    </div>
    <div class="col-6">
      <p class="float-left skills_subtitle">CSS</p>
      <p class="float-right">90%</p>
      <div class="progress grey-200">
        <div class="determinate skill_progress_bar" style="width: 90%"></div>
      </div>
      <p class="float-left skills_subtitle">DREAMWEAVER</p>
      <p class="float-right">75%</p>
      <div class="progress grey-200">
        <div class="determinate skill_progress_bar" style="width: 75%"></div>
      </div>
      <p class="float-left skills_subtitle">ILLUSTRATOR</p>
      <p class="float-right">80%</p>
      <div class="progress grey-200">
        <div class="determinate skill_progress_bar" style="width: 80%"></div>
      </div>
    </div>
  </div>
</div>