
@import "base-include";

@import "partials/menu";

.font12{
    @include rfs(12);
}
.font30{
    @include rfs(30);
}
.line-height-125{
    line-height: 1.25;    
}
.line-height-150{
    line-height: 1.50;    
}
.line-height-175{
    line-height: 1.75;    
}
.line-height-2{
    line-height: 2;    
}

.global-tagline{
    bottom: 3vmin;
    right: auto;
    position: absolute;
	z-index: 10;
}

.section-title{
    @include rfs(40);
    &:after{
        content: "";
        display: block;
        height: 6px;
        width: 65px;
        background: $primary;
        transform: translate(-50%, 10px);
        left: 50%;
        position: absolute;
    }
}