
@import "base-include";

[hidden] {
    display: inherit !important;
}

.intropara{
    font-size: 40px;
}
.aboutus{
    .icon-bg{
        @include square(115px,115px);
        border:1px solid $primary;
        transition: all 0.5s;
        svg{
            @include square(50px,50px); 
            fill: $primary;
        }
        &:hover{
            background:$primary;
            cursor: pointer;
            transform: scale(1.2);
            svg{
                fill: $white;
            }
        }
    }
}

.devices{
    .devices-icon{
        @include square(115px,115px);
        svg{
            transition: all ease 0.3s;
            fill: $primary;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
}
.skills{
    .progress{
        height: 0.5rem;
    }
}
