@import '../customize-bootstrap.scss';

.brand-logo {
	img {
	    max-width: 40px;
	}
}

.navbar-nav {
  .nav-link {
    text-transform:uppercase;
    padding: 1.5em;
  }
  .nav-link.active{
    background:$navbar-light-active-bg;
    &:hover{
      background: $navbar-light-active-bg-hover;
      transition:background-color 0.4s ease-in 0s;
    }
  }
}