<div class="what_i_do_content mt-5">
  <div class="container">
    <h2 class="title-divider section-title">What Do i do</h2>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 text-center">
        <div class="icon-bg hvr-grow"><i class="lni-blackboard"></i>
        </div>
        <h5 class="my-3">Design</h5>
      </div>
      <div class="col-12 col-md-6 col-lg-3 text-center">
        <div class="icon-bg hvr-grow"><i class="lni-code-alt"></i>
        </div>
        <h5 class="my-3">Development</h5>
      </div>
      <div class="col-12 col-md-6 col-lg-3  text-center">
        <div class="icon-bg hvr-grow"><i class="lni-crown"></i>
        </div>
        <h5 class="my-3">Branding</h5>
      </div>
      <div class="col-12 col-md-6 col-lg-3 text-center">
        <div class="icon-bg hvr-grow"><i class="lni-camera"></i>
        </div>
        <h5 class="my-3">Photography</h5>
      </div>
    </div>
  </div>
</div>