<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" *ngIf="!successMsg">

    <div class="row">
        <div class="col-6 col-sm-12 col-md-6 mb-4">
            <input type="text" class="form-control" placeholder="First name" formControlName="firstName">
        </div>
        <div class="col-6 col-sm-12 col-md-6 mb-4">
            <input type="text" class="form-control" placeholder="Last name" formControlName="lastName">
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-sm-12 col-md-6 mb-4">
            <input type="email" class="form-control" placeholder="Email" formControlName="emailId">
        </div>
        <div class="col-6 col-sm-12 col-md-6 mb-4">
            <input type="number" class="form-control" placeholder="Contact Number" formControlName="contactNo">
        </div>
    </div>
    <div class="row">
        <div class="col-12  mb-4">
            <textarea type="text" class="form-control" placeholder="Message" formControlName="message" rows="3"></textarea>
        </div>
    </div>


    <button class="btn btn-secondary my-3 px-4" type="submit" [disabled]="!contactForm.valid">
        <ng-container *ngIf="isSubmitting; else defaultText">
            <div class="spinner-grow spinner-grow-sm text-primary" role="status">                           
            </div>
            Submitting 
        </ng-container>
        <ng-template #defaultText>Submit</ng-template>
    </button>

</form>

<div class="row py-3" *ngIf="successMsg">
    <div class="col-12">
        Messege Sent Successfully!! will get Back to you as soon as possible.
    </div>
</div>

<!-- <p>
    Form Value: {{ contactForm.value | json }}
</p>
<p>
    Form Status: {{ contactForm.status }}
</p> -->

